<div class="text-body">
  <p class="mat-body">
    This website has gone through several versions throughout the past few years. While a simple HTML static website
    would likely be the cleanest, fastest, and easiest. I have used this website as a playground for testing and
    learning new technologies. Started off with a quickly made WordPress site for a basic portfolio. My role at the time
    was being transitioned to working with more front-end so I decided to rewrite my site using Angular 2 and add in an
    Node.JS with Express backend to learn more about that.
  </p>

  <figure>
    <img src="/assets/first-angular-website.png" alt="Screenshot of first version of the Angular website">
  </figure>
  <div class="caption mat-caption">Screenshot of first version of the Angular website.</div>

  <p class="mat-body">
    That site was setup so the blogs would just be populated from the backend on load. This was really good to get
    some experience but because the backend was only useful as a learning experience I wanted to rewrite the
    website to improve loading time and SEO.
  </p>

  <p class="mat-body">
    I really enjoy working with Angular so I decided to write this website in Angular 6 and for improved loading time
    and SEO I am planning on using Angular Universal to server side render the pages. For styling I am switching from
    Bootstrap to Material since I liked the work that has been done in that project.
  </p>

  <p class="mat-body">
    Check out this website on Github. I have future plans to add a trip report page with integrated map to share my hiking pictures.
  </p>
</div>
