<mat-toolbar color="primary">
  <span class="push-right"></span>
  <span class="footer-text mat-small">Interested in getting in touch? Contact me at one of the following:</span>
  <a class="contact-icon" target="_blank" href="mailto:contact@jordanheinrichs.com">
    <mat-icon svgIcon="gmail"></mat-icon>
  </a>
  <a class="contact-icon" target="_blank" href="http://github.com/jordanheinrichs">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
  <a class="contact-icon" target="_blank" href="https://www.linkedin.com/in/jordan-heinrichs-688258110">
    <mat-icon svgIcon="linkedin"></mat-icon>
  </a>
  <a class="contact-icon" target="_blank" href="https://www.strava.com/athletes/13179120">
    <mat-icon svgIcon="strava"></mat-icon>
  </a>
  <a class="contact-icon" target="_blank" href="http://www.facebook.com/jordan.heinrichs">
    <mat-icon svgIcon="facebook"></mat-icon>
  </a>
</mat-toolbar>
