<mat-toolbar color="primary">
  <span class="push-right"></span>
  <a class="icon" target="_blank" href="http://github.com/jordanheinrichs">
    <mat-icon color="accent" svgIcon="github"></mat-icon>
  </a>
  <a class="icon" target="_blank" href="https://www.linkedin.com/in/jordan-heinrichs-688258110">
    <mat-icon color="accent" svgIcon="linkedin"></mat-icon>
  </a>
  <a class="icon" target="_blank" href="https://www.strava.com/athletes/13179120">
    <mat-icon color="accent" svgIcon="strava"></mat-icon>
  </a>
  <a class="icon" target="_blank" href="http://www.facebook.com/jordan.heinrichs">
    <mat-icon color="accent" svgIcon="facebook"></mat-icon>
  </a>
</mat-toolbar>
