<div class="text-body">
  <p class="mat-body">
    During winter I tend to run at indoor tracks quite often but since I use Strava for all my training logs
    I needed a good way to analyze my indoor track runs on Strava. My goal was to create a program to accurately
    and easily add my run to Strava with the pace and heart rate data tracked over time. The solution which most
    people do is just manually enter the distance but that loses the pace and heart rate data over time.
  </p>

  <figure>
    <img src="/assets/strava-oval.png" alt="Example output of the program uploaded to Strava">
  </figure>
  <div class="caption mat-caption">Example output of the program uploaded to Strava.</div>

  <p class="mat-body">
    My first version of this was when I had a Garmin Forerunner 235. I created a python script which took the
    tcx file (XML file for sports tracking) and replace the distances it guesses with actual ones based on lap times.
    When I switched over to use Suunto Ambit Peak 3, it did not populate the tcx file with the necessary information
    to use the same program so I ended up rewriting the application in TypeScript to generate a file from a CSV lap time input.
  </p>

  <p class="mat-body">
    To turn a CSV file of lap times into a GPS file I needed a few inputs. To do the calculations, I required the
    following inputs:
  </p>
  <ul class="mat-body">
    <li>center latitude and longitude of the indoor track</li>
    <li>distance of the track</li>
    <li>what is the bearing of the longest axis of the track</li>
    <li>how "oval" the track was</li>
  </ul>

  <p class="mat-body">
    I then assumed that I would be going the same pace throughout the lap and using some vector additions I can
    calculate the location relative to the center and generate a trackpoint entry from that.
  </p>

  <p class="mat-body">
    If you are interested in checking out the code, it is located <a href="https://github.com/JordanHeinrichs/indoor-track-gps-generator">here</a>.
  </p>
</div>
