server {
  root /var/www/jordanheinrichs.com;
  index index.html;
  server_name jordanheinrichs.com;
  location / {
    try_files $uri $uri/ =404;
  }
  gzip on;
  gzip_types application/javascript image/* text/css;
  gunzip on;

    listen [::]:443 ssl ipv6only=on http2; # managed by Certbot
    listen 443 ssl http2; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/jordanheinrichs.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/jordanheinrichs.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    if ($host = jordanheinrichs.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


  listen 80 default_server;
  listen [::]:80 default_server;
  server_name jordanheinrichs.com;
    return 404; # managed by Certbot


}
