<mat-toolbar color="primary" class="mat-elevation-z6" [ngClass]="{'is-handset': isHandset | async}">
  <mat-toolbar-row class="main-row">
    <a mat-button routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/']">Jordan Heinrichs</a>
    <div class="flex-spacer"></div>
    <div class="large-window">
      <a mat-button routerLinkActive="mat-accent" [routerLink]="['/projects']">Projects</a>
      <a mat-button routerLinkActive="mat-accent" [routerLink]="['/hiking']">Hiking</a>
      <a mat-button routerLinkActive="mat-accent" [routerLink]="['/running']">Running</a>
      <a mat-button routerLinkActive="mat-accent" [routerLink]="['/contact-me']">Contact Me</a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="small-window">
    <a mat-button routerLinkActive="mat-accent" [routerLink]="['/projects']">Projects</a>
    <a mat-button routerLinkActive="mat-accent" [routerLink]="['/hiking']">Hiking</a>
    <a mat-button routerLinkActive="mat-accent" [routerLink]="['/running']">Running</a>
    <a mat-button routerLinkActive="mat-accent" [routerLink]="['/contact-me']">Contact Me</a>
  </mat-toolbar-row>
</mat-toolbar>
