<div class="text-body">
  <p class="mat-body">
    The Solar Car Team is a team dedicated to designing and racing cars powered off the Sun.
    I have been a part of the team since Fall 2013 working as a software developer for the car's embedded
    systems as well as the real time telemetry application. I was the lead software developer on the team
    from 2013 to August 2015.
  </p>

  <figure>
    <img src="/assets/solar-car-team.jpg" alt="Solar Car Team at FSGP 2015.">
  </figure>
  <div class="caption mat-caption">Solar Car Team at FSGP 2015.</div>

  <p class="mat-body">
    The embedded system I was working with was the
    <a href="https://developer.mbed.org/platforms/mbed-LPC1768/">ARM mbed LPC1768</a>.
    It communicated to the <a href="http://tritium.com.au/products/wavesculptor22-motor-inverter/">Tritium motor controllers</a>
    and battery monitoring system via CAN.
    It also periodically read in the driver controls and updated three char OLED displays over SPI.
    To communicate with the base station monitoring the telemetry it used an XBee 900 mHz radio via UART.
    The code for this project can be found <a href="https://github.com/UCSolarCarTeam/Schulich-Delta-CCS-2">here</a>.
  </p>

  <figure>
    <img src="/assets/solar-car-oled.jpg" alt="The ARM mbed with the XBee radio and dashboard while testing.">
  </figure>
  <div class="caption mat-caption">The ARM mbed with the XBee radio and dashboard while testing.</div>

  <p class="mat-body">
    The telemetry monitoring program was built in C++ with the QT framework for the GUI.
    The program received the telemetry through another XBee 900 mHz radio and parse then display the information.
    In order to display the telemetry on multiple computers the program that was connected to the radio would
    automatically forward all packets to a UDP multicast address so that anyone on the network can receive updates.
    The telemetry program is shown below and the code for it is available <a href="https://github.com/UCSolarCarTeam/Schulich-Delta-Telemetry">here</a>.
  </p>

  <figure>
    <img src="/assets/solar-car-telem.png" alt="Telemetry Program.">
  </figure>
  <div class="caption mat-caption">Telemetry Program.</div>

  <p class="mat-body">
    In August of 2015 the team went down to Austin Texas to compete at
    <a href="http://americansolarchallenge.org/the-competition/fsgp-2015/">FSGP2015</a>.
    The winner was the team with the most amount of laps around the F1 track, Circuit of the Americas. The competition was tough and the car ran into many issues including the battery pack overheating due to the high ambient temperature. Even with those challenges we managed to place 9/15 and the car traveled 463 km in three days.
    Lots of great experiences and lessons learned and plus I got to drive on an F1 track.
  </p>

  <figure>
      <img src="/assets/solar-car-working-1.jpg" alt="Working on the car at FSGP2015.">
    </figure>
    <div class="caption mat-caption">Working on the car at FSGP2015.</div>

  <figure>
      <img src="/assets/solar-car-working-2.jpg" alt="Working on the car at FSGP2015.">
    </figure>
    <div class="caption mat-caption">Working on the car at FSGP2015.</div>
</div>
