@import '../../theme.sass'

$accent: map-get($my-app-theme, accent)
$content-max-width: 720px

.text-body
  margin-left: 16px

p
  max-width: $content-max-width

a
  color: white
  text-decoration: none
  text-decoration-line: underline
  text-decoration-color: mat-color($accent)

figure
  margin: 0
  max-width: $content-max-width
  img
    margin: auto
    max-width: 100%
  &.small img
    max-height: 300px

.caption
  text-align: center
  max-width: $content-max-width
