.contact__link-row {
  display: flex;
}
.contact__icon {
  height: 24px;
  width: 24px;
  padding: 10px;
}

.main-splash {
  height: 100vh;
  display: flex;
}

.main-splash__image {
  height: 140vh;
  width: auto;
  align-self: center;
}

::ng-deep .simpleParallax {
  display: flex;
  flex-direction: column;
}

main {
  padding: 0;
  margin: 0;
  background: #eeeeee;
  overflow-y: auto;
  flex-grow: 1;
}
