<div class="text-body">
  <p class="mat-body">
      I graduated from University of Calgary in 2016 with a bachelor's degree in electrical engineering with a Computer engineering minor.
      Since then I have been working as a full stack developer in Calgary, primarily using C++ and JavaScript/TypeScript.
    </p>

    <p class="mat-body">
      I am currently working at <a href="https://www.arterys.com/">Arterys</a> building a really cool AI powered medical imaging webapp.
      My full work experience can be found on my resume located <a href="https://github.com/JordanHeinrichs/Resume/blob/master/JordanHeinrichsResume.pdf">here</a>.
    </p>

    <p class="mat-body">
      The following projects just highlight a few things that I have spent my time outside of work pursuing interesting ideas and keeping up to date on new tech.
    </p>
</div>
<app-blog-list [blogs]="projects"></app-blog-list>
