<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async) ? 'over' : 'side'"
    [opened]="!(isHandset | async)"
    [fixedTopGap]="(isHandset | async) ? '112' : '64'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="link-list">
      <a mat-list-item routerLinkActive="active" [routerLink]="[link.url]" *ngFor="let link of linkList">{{link.title}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{pageTitle}}</span>
    </mat-toolbar>
    <div class="page-content">
      <ng-content></ng-content>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
