<div class="text-body">
  <p class="mat-body">
    The Golden Ultra Stage Race is a 3 day trailing running event in Golden BC and was the first ultra marathon that I
    raced. It has three events, a vertical km which is a race up 1000 m in under 5km horizontal distance. The next day
    was a 58km, 2400m elevation gain day and to wrap it all up, the last day has a 21km 700m race. To find out more check
    out their <a href="http://www.goldenultra.com/" >website</a>. The overall placing was based on total time taken in the
    3 stages.
  </p>


  <h3 class="mat-subheading-2">Training</h3>
  <p class="mat-body">
    I had a 3 month training block for this where I focused mostly on elevation and time on feet. That summer had a lot of
    backpacking and scrambling planned so sometimes it was a struggle to get in some quality runs but coming off my Calgary
    Marathon training block I felt pretty strong and a few weeks out I ran the Big Elbow 42 km loop.
  </p>

  <p class="mat-body">
    The race was in late September and unfortunately the weather was looked quite bleak. There was snow at the upper
    elevations and rain at the lower elevations. Drove out there the Friday morning before the evening vertical km,
    picked up my race package and sat around trying to stay warm and dry until the event started. My general plan was
    to keep the vertical km very easy since I didn't want to destroy my legs for the rest of the weekend. A few minutes
    slower in the vertical km could easily result in saving 10-15 minutes on the next day.
  </p>

  <h3 class="mat-subheading-2">The Blood - Vertical Kilometer, Day 1</h3>

  <figure>
    <img src="/assets/goldenultra3.jpg" alt="At the start.">
  </figure>
  <div class="caption mat-caption">At the start.</div>

  <p class="mat-body">
    The race was in late September and unfortunately the weather was looked quite bleak. There was snow at the upper
    elevations and rain at the lower elevations. Drove out there the Friday morning before the evening vertical km,
    picked up my race package and sat around trying to stay warm and dry until the event started. My general plan was
    to keep the vertical km very easy since I didn't want to destroy my legs for the rest of the weekend. A few minutes
    slower in the vertical km could easily result in saving 10-15 minutes on the next day.
  </p>

  <p class="mat-body">
    After the gun went off I took off pretty fast hoping to get in a good positioning before hitting the single track.
    Most of the first part of the race was up a black diamond ski run before switching to a hiking trail with
    steps built out of rocks. After the initial runnable road section was over I dropped down into a walk and kept it at a
    very sustainable hard pace. I was super glad I brought poles for this as the hill was muddy and some people were starting to struggle
    to keep traction. Near the end I hit snow and soon topped out afterwards. Waited for my friend Franck to finish a minute later
    then hopped in the gondola to get down before getting too cold. <a href="https://www.strava.com/activities/1857188126">Strava activity</a>.
  </p>

  <h3 class="mat-subheading-2">The Sweat - My First Ultra, Day 2</h3>
  <p class="mat-body">
    Got as much sleep as I could despite the adrenaline from the night before and felt reasonably rested. It was still raining
    so I packed a bit more warm clothes in my vest and walked from my motel to the start. Having never done a ultra or
    even a trail race I had no idea how to pace myself. I ran the first ~8km with Franck at a very easy pace which really help
    stop me from blowing up later in the race.
  </p>

  <p class="mat-body">
    After the first aid station I started to push a bit more and just sustain a steady effort over the next 2000 m of climb.
    Continually energized from passing people I really found a rhythm on the way up. That climb started really getting to me
    by the time I had reached the upper ridge. The weather had turned for the worse and there was now significant snow
    on a rather narrow ridge. Those 2 km along the ridge ended up being the slowest km as there was a few parts where I thought
    it could be it if I slipped.
  </p>

  <p class="mat-body">
    The climb ends at the top of the gondola and after a quick stop at the aid station I was super excited to go down
    and get out of the cold. The first bit was great shoe skiing before plunging down the 2000 meters. At this point I
    saw my last runner and was really in no mans land. Near the bottom I was struggling to take calories in and really
    starting to fall apart. After running scared that I would be passed I made it back to the rolling trails and got my
    rhythm back. The entire last part of the run was fueled on drinking coke as that was the only sugar that seemed to sit well.
    Ended with a finish time of 6:55:35 hitting my sub 7 hour goal. <a href="https://www.strava.com/activities/1859238211">Strava activity</a>.
  </p>

  <figure>
    <img src="/assets/goldenultra5.jpg" alt="Final bend before the finish line.">
  </figure>
  <div class="caption mat-caption">Final bend before the finish line.</div>

  <h3 class="mat-subheading-2">The Tears - Ouch, Day 3</h3>
  <p class="mat-body">
    The final day was a 22 km run through some mountain biking trails. It was a painful hobble to the start line
    but as soon as the gun went off I decided to push hard and get it over with. I ended up running with someone
    for the first half of it before things started to unravel and I got dropped. After that I couldn't see anyone as
    I just tried to hold it together.
  </p>

  <figure>
    <img src="/assets/goldenultra.jpg" alt="Giving it all I had over the last road section.">
  </figure>
  <div class="caption mat-caption">Giving it all I had over the last road section.</div>
  <p class="mat-body">
    The last 1.5 km was on a flat trail and I gave it all I had but just missed the
    2 hour time I was going for by 20 seconds. <a href="https://www.strava.com/activities/1861267690">Strava activity</a>.
  </p>

  <figure>
    <img src="/assets/goldenultra2.jpg" alt="Finished!">
  </figure>
  <div class="caption mat-caption">Finished!</div>

  <h3 class="mat-subheading-2">Reflection</h3>
  <p class="mat-body">
    Looking back I was really happy with how it turned out. There is very few things I would change. I would go out a bit
    faster on day 2 but besides that I think it went to plan. I placed 7th overall with a total time of 9:50:39.8.
  </p>
</div>
